/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background: rgb(226, 225, 233);
  background: linear-gradient(90deg, rgba(226, 225, 233, 1) 0%, rgba(220, 226, 227, 1) 100%);
}

/* Container da label e input */
.height {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* Alinha os elementos verticalmente no centro */
  gap: 10px;
  /* Espaçamento entre label e input */
  margin: 20px;
}

.secInput {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.height label {
  font-size: 18px;
  margin: 7px;
  display: flex;
  /* Remove margin para alinhamento */
}

sup {
  color: red;
}

/* Estilo do input */
.height .input {
  border: none;
  outline: none;
  border-radius: 100px;
  padding: 1.2em;
  width: 300px;
  background-color: #e1e2e3;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
  transition: 300ms ease-in-out;
  margin-top: 0;
  /* Remove margin para manter alinhamento com label */
}

.height .input:focus {
  background-color: #ffffff;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696, -13px -13px 100px #ffffff;
}

.clear {
  clear: both;
}

/* Checkbox */
.checkBox {
  display: block;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 3px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 0px 2px black;
  z-index: 1;
}

.checkBox div {
  width: 60px;
  height: 60px;
  background-color: black;
  top: -52px;
  left: -52px;
  position: absolute;
  transform: rotateZ(45deg);
  z-index: 2;
}

.checkBox input[type=checkbox]:checked+div {
  left: -10px;
  top: -10px;
}

.checkBox input[type=checkbox] {
  position: absolute;
  left: 50px;
  visibility: hidden;
}

/* Transição */
.transition {
  transition: 300ms ease;
}

.potencial1 {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.testes123{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;
}

/* Container do checklist */
#checklist-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* Espaçamento entre os itens */

}

/* Ajusta os itens do checklist */
.checklist-item {
  padding: 7px;
}



/* Estilos para inputs de rádio */
.radio-input {
  display: table;
  table-layout: fixed;
  margin: auto;
}

.radio-b__label {
  display: flex;
  align-items: center;
  gap: 5px;
  /* Espaçamento entre o quadrado e o texto */
  font-size: 15px;
  color: #000000;
  font-weight: 600;
  transition: all 0.3s ease;
}

.radio-b {
  display: table-cell;
  align-items: center;
  cursor: pointer;
}

.radio-b__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-b__custom {
  position: relative;
  width: 26px;
  height: 26px;
  border: 2px solid #000000;
  border-radius: 0%;
  transition: all 0.3s ease;
  overflow: hidden;
}

.radio-b__custom-fill {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 10px;
  background: linear-gradient(90deg, rgba(0, 151, 178, 1) 35%, rgba(126, 217, 87, 1) 100%);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}

.radio-b__input:checked+.radio-b__label .radio-b__custom-fill {
  width: 26px;
  height: 26px;
  transition: all 0.3s ease;
}

.radio-b__input:checked+.radio-b__label .radio-b__custom {
  border: none;
  /* Remove as bordas */
  transition: all 0.3s ease;
  /* Assegura uma transição fluida */
}

.radio-b__input:hover+.radio-b__label .radio-b__custom {
  transform: scale(0.85);
}

/* Estilo para o texto opcional */
.radio-b__text {
  font-size: 15px;
  color: #000000;
  font-weight: 600;
  margin-right: 12px;
}

/* Estilo para o texto da opção A */
.radio-a__text {
  font-size: 15px;
  color: rgba(0, 151, 178, 1);
  font-weight: 600;
}

/* Responsividade para inputs de rádio */
@media (max-width: 768px) {
  .radio-b__label {
    font-size: 14px;
    /* Reduz o tamanho da fonte em telas menores */
  }

  .radio-b__custom {
    width: 20px;
    /* Reduz a largura do checkbox */
    height: 20px;
    /* Reduz a altura do checkbox */
  }
}


.div_voltar {
  display: flex;
  /* Usa flexbox para centralizar */
  justify-content: space-between;
  /* Espaça os botões */

  /* Centraliza horizontalmente com margem */
  max-width: 600px;
  /* Limita a largura máxima do container dos botões */
}

.botao_voltar,
.botao_continuar {
  margin: 15px;
  /* Margem para os botões */
  padding: 15px 25px;
  /* Espessura dos botões */
  border: 0;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
  min-width: 200px;
  /* Largura mínima dos botões */
  min-height: 70px;
  /* Altura mínima dos botões */
  flex: 1;
  /* Faz com que os botões se expandam igualmente */
}

/* Estilização do botão "Voltar" */
.botao_voltar::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 0;
  width: 0;
  border-radius: 15px;
  background-color: rgba(0, 151, 178, 1);
  z-index: -1;
  transition: all 250ms;
}

.botao_voltar:hover {
  color: #e8e8e8;
}

.botao_voltar:hover::before {
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
}

.botao_voltar:active {
  transform: scale(80%);
}

/* Estilização do botão "Continuar" */
.botao_continuar::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 0;
  width: 0;
  border-radius: 15px;
  background-color: #00bf63;
  z-index: -1;
  transition: all 250ms;
}

.botao_continuar:hover {
  color: #e8e8e8;
}

.botao_continuar:hover::before {
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
}

.botao_continuar:active {
  transform: scale(80%);
}


@keyframes blink {
  0% { background-color: rgba(255, 0, 0, 0.2); }
  50% { background-color: transparent; }
  100% { background-color: rgba(255, 0, 0, 0.2); }
}

.blink {
  animation: blink 0.5s ease-in-out infinite;
  border-radius: 10px;
}







.modal {
  display: none; /* Escondido por padrão */
  position: fixed; 
  z-index: 1000; 
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
}

.modal-content {
  background: linear-gradient(90deg, rgba(226, 225, 233, 1) 0%, rgba(220, 226, 227, 1) 100%);
  position: flex;
  margin: auto; 
  justify-content: center;
  padding: 1%;
  height: auto;
  border: 1px solid #888;
  width: 80%; 
  -webkit-animation: scale-in-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation: scale-in-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
}


/* From Uiverse.io by javierBarroso */ 
.button {
  position: relative;
  width: 3em;
  height: 3em;
  border: none;
  background: rgba(180, 83, 107, 0.11);
  border-radius: 5px;
  transition: background 0.5s;
}

.X {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2em;
  height: 1.5px;
  background-color: rgb(255, 255, 255);
  transform: translateX(-50%) rotate(45deg);
}

.Y {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2em;
  height: 1.5px;
  background-color: #fff;
  transform: translateX(-50%) rotate(-45deg);
}

.button:hover {
  background-color: rgb(211, 21, 21);
}

.button:active {
  background-color: rgb(130, 0, 0);
}






@media only screen and (max-width: 600px) {
  .modal-content {
    height: 50%;
    width: 100vw;

  }
}


@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}












/* Estilização do overlay do modal */
.modalConfirmacao {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Fundo escuro */
  z-index: 100000;
}

/* Centralização do conteúdo do modal */
.modal-content-confirmacao {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Centraliza o modal */
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px;
}

/* Botões do modal */
.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.confirm {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.cancel {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.confirm:hover {
  background-color: #218838;
}

.cancel:hover {
  background-color: #c82333;
}
