/* Footer */
footer {
    position: fixed;
    /* Fixa o footer na tela */
    bottom: 0;
    /* Posiciona na parte inferior */
    right: 0;
    /* Posiciona à direita */
    padding: 10px;
    /* Espaçamento interno */
    display: flex;
    /* Flexbox para layout */
    justify-content: flex-end;
    /* Alinha os itens ao final */
    align-items: center;
    /* Alinha verticalmente ao centro */
    z-index: 10;
    /* Garante que o footer fique acima do conteúdo */
}

.idea {
    display: inline;
    font-size: 24px;
    /* Tamanho da fonte */
    font-family: "Marck Script", cursive;
    /* Fonte da ideia */
    font-weight: 400;
    /* Peso da fonte */
    margin-right: 5px;
    /* Espaçamento à direita para separar da assinatura */
}

.assinatura {
    display: inline;
    font-family: 'Nunito';
    font-size: 32px;
    /* Fonte da assinatura */
    color: #d0a933;
    /* Cor da assinatura */
}


/* Responsividade para telas menores */
@media (max-width: 1536px) {

    .idea{
        font-size: 24px;
    }
    .assinatura{
        font-size: 32px;
    }
}

@media (max-width: 1300px) {

    .idea{
        font-size: 20px;
    }
    .assinatura{
        font-size: 28px;
    }
}

@media (max-width: 1000px) {
    .idea{
        font-size: 18px;
    }
    .assinatura{
        font-size: 24px;
    }
}

@media (max-width: 900px) {

    .idea{
        font-size: 16px;
    }
    .assinatura{
        font-size: 22px;
    }
}
