footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 99%;
    text-align: end;
}

.idea {
    display: inline-block;
    padding-right: 5px;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    line-height: 26.4px;
    font-family: "Marck Script", cursive;
    font-weight: 400;
}

.assinatura {
    font-family: 'Nunito';
    color: #d0a933;
    display: inline;
}