body {
  background-color: #ecf2f9;
}

section {
  font: 13px/1.5 "Roboto", sans-serif;
  padding: 50px;
  text-align: center;
}

label {
  width: 100%;
  float: left;
  margin-left: 25px;
  margin-bottom: 10px;
}

.search-input {
  width: calc(100% - 20px);
  /* Para ajustar à largura do select */
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}




.custom-select.opened {
  z-index: 999;
  /* z-index alto para que o select aberto sobreponha outros */
}

.center {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.select {
  z-index: 3;
  float: left;
}

.custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
  cursor: pointer;
}

.custom-select-wrapper select {
  display: none;
}

.custom-select {
  position: relative;
  display: inline-block;
  font: 13px/1.5 "Roboto", sans-serif;
  z-index: 1;
}

.custom-select-trigger {
  position: relative;
  display: block;
  min-width: 360px;
  max-width: 360px;
  padding: 0 104px 0 25px;
  font-weight: 100;
  color: #6e7c83;
  line-height: 50px;
  background-color: #ffffff;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.custom-select-trigger:hover {
  box-shadow: 0px 10px 50px 0px rgba(43, 111, 246, 0.1);
}

.custom-select-trigger:before,
.custom-select-trigger:after {
  position: absolute;
  display: block;
  content: "";
  transition: all 0.35s ease-out;
}

.custom-select-trigger:before {
  width: 1px;
  height: 50px;
  top: 3px;
  right: 50px;
  border-right: 1px solid #c7d1d6;
}

.custom-select-trigger:after {
  width: 10px;
  height: 10px;
  top: 50%;
  right: 20px;
  border-bottom: 1px solid #c7d1d6;
  border-right: 1px solid #c7d1d6;
  transform: rotate(45deg) translateY(-50%);
}

.custom-select.opened .custom-select-trigger:after {
  margin-top: 3px;
  transform: rotate(-135deg) translateY(-50%);
}

.custom-options {
  text-align: center;
  max-height: 300px;
  /* Ajustado para evitar barras de rolagem */
  overflow-y: auto;
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  margin: 10px 0;
  border-radius: 5px;
  background: #fff;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15px);
  border: 0;
  z-index: 1000;
}

.custom-select.opened .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(-8px);
  box-shadow: 0px 10px 50px 0px rgba(43, 111, 246, 0.1);
}

.custom-option {
  position: relative;
  display: block;
  padding: 0 22px;
  font: 13px/1.5 "Roboto", sans-serif;
  font-weight: 400;
  color: #6e7c83;
  line-height: 47px;
  cursor: pointer;
  transition: all 0.05s ease-in-out;
}

.custom-option:first-of-type {
  border-radius: 4px 4px 0 0;
}

.custom-option:last-of-type {
  border-bottom: 0;
  border-radius: 0 0 4px 4px;
}

.custom-option:hover,
.custom-option.selection {
  color: #fff;
  background-color: #00bf63;
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
  .custom-select-trigger {
    min-width: 100%;
    /* Ajusta a largura para 100% em telas pequenas */
    max-width: 100%;
  }
}