body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

textarea {
  width: 30vw;
  height: 40vh;
  max-width: 500px;
  max-height: 400px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  resize: none;
  font-family: monospace;
}

textarea::-webkit-scrollbar {
  display: none;
}
.cards {
  display: flex;
  flex-direction: row;
  gap: 50px;
  flex-wrap: wrap;
}

.cards .red {
  background-color: #007e9e;
}

.cards .blue {
  background-color: #0062ff;
}

.cards .green {
  background-color: #18cd5e;
}

.cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 420px;
  width: 520px;
  max-width: 32vw;
  max-height: 42vh;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: all 400ms;
  overflow: hidden; /* Certifique-se de que o conteúdo extra seja cortado */
}

.cards .card p.tip {
  font-size: 1.5vw;
  font-weight: 700;
}

.cards .card p.second-text {
  font-size: 1.5vw;
}

.cards .card:hover {
  transform: scale(1.2);
}

.cards:hover>.card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9);
}

.hidden {
  display: none;
}

.container, .container2 {
  position: absolute; /* Mantenha como absoluto */
  top: 10px; /* Ajuste a distância do topo */
  right: 10px; /* Ajuste a distância da direita */
}
.container {
  --color: #000000;
  --size: 1.5vw;
  top: 5px;
  left: 170px;
  position: relative;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);
}
.container .clipboard {
  position: absolute;
  animation: keyframes-fill .5s;
}

.container .clipboard-check {
  position: absolute;
  display: none;
  animation: keyframes-fill .5s;
}

.container input:checked~.clipboard {
  display: none;
}

.container input:checked~.clipboard-check {
  display: block;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

@keyframes keyframes-fill {
  0% {
    transform: rotate(0deg) scale(0);
    opacity: 0;
  }
  50% {
    transform: rotate(-10deg) scale(1.2);
  }
}

.container1 {
  --color: #000000;
  --size: 1vw;
  display: flex;
  justify-content: right;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);
  margin: 10px 0;
}

.container1 span {
  margin-right: 20px;
}

.container1 .clipboard {
  position: absolute;
  animation: keyframes-fill .5s;
}

.container1 .clipboard-check {
  position: absolute;
  display: none;
  animation: keyframes-fill .5s;
}

.container1 input:checked~.clipboard {
  display: none;
}

.container1 input:checked~.clipboard-check {
  display: block;
}

.container1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  margin-left: 10px;
}

.container2 {
  --color: #000000;
  --size: 1.5vw;
  top: 5px;
  left: 170px;
  position: relative;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);
}

.container2 .clipboard {
  position: absolute;
  animation: keyframes-fill .5s;
}

.container2 .clipboard-check {
  position: absolute;
  display: none;
  animation: keyframes-fill .5s;
}

.container2 input:checked~.clipboard {
  display: none;
}

.container2 input:checked~.clipboard-check {
  display: block;
}

.container2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.botao {
  padding: 10px;
  position: fixed;
  align-items: end;
  bottom: 50px;
}

button {
  padding: 15px 25px;
  border: 0;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 1vw;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
  min-width: 200px;
  min-height: 70px;
}

button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 0;
  width: 0;
  border-radius: 15px;
  background-color: #00bf63;
  z-index: -1;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

button:hover {
  color: #e8e8e8;
}

button:hover::before {
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
}

button:active {
  transform: scale(80%);
}

/* Responsividade para telas menores */
@media (max-width: 1536px) {
  .cards .card {
      height: 420px;
      width: 520px;
      max-width: 32vw;
      max-height: 52vh;
  }
  textarea {
      width: 30vw;
      height: 50vh;
      max-width: 500px;
      max-height: 400px;
  }
}

@media (max-width:  1360px) {
  .cards .card {
      height: 420px;
      width: 520px;
      max-width: 29vw;
      max-height: 49vh;
  }
  textarea {
      width: 28vw;
      height: 47vh;
      max-width: 500px;
      max-height: 400px;
  }
}

@media (max-width: 1000px) {
  .cards .card {
      height: 420px;
      width: 520px;
      max-width: 28vw;
      max-height: 38vh;
  }
  textarea {
      width: 28vw;
      height: 38vh;
      max-width: 500px;
      max-height: 400px;
  }
}

@media (max-width: 900px) {
  .cards .card {
      height: 420px;
      width: 520px;
      max-width: 28vw;
      max-height: 38vh;
  }
  textarea {
      width: 28vw;
      height: 38vh;
      max-width: 500px;
      max-height: 400px;
  }
}
