.potencial1 {
    font-size: 50px;
    position: relative;
    bottom: 20px;
}


.div_voltar {
    display: flex;
    /* Usa flexbox para centralizar */
    justify-content: space-between;
    /* Espaça os botões */

    /* Centraliza horizontalmente com margem */
    max-width: 600px;
    /* Limita a largura máxima do container dos botões */
}

.botao_voltar,
.botao_continuar {
    margin: 15px;
    /* Margem para os botões */
    padding: 15px 25px;
    /* Espessura dos botões */
    border: 0;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
    min-width: 200px;
    /* Largura mínima dos botões */
    min-height: 70px;
    /* Altura mínima dos botões */
    flex: 1;
    /* Faz com que os botões se expandam igualmente */
}

/* Estilização do botão "Voltar" */
.botao_voltar::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 0;
    width: 0;
    border-radius: 15px;
    background-color: rgba(0, 151, 178, 1);
    z-index: -1;
    transition: all 250ms;
}

.botao_voltar:hover {
    color: #e8e8e8;
}

.botao_voltar:hover::before {
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
}

.botao_voltar:active {
    transform: scale(80%);
}

/* Estilização do botão "Continuar" */
.botao_continuar::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 0;
    width: 0;
    border-radius: 15px;
    background-color: #00bf63;
    z-index: -1;
    transition: all 250ms;
}

.botao_continuar:hover {
    color: #e8e8e8;
}

.botao_continuar:hover::before {
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
}

.botao_continuar:active {
    transform: scale(80%);
}